@{
    ViewData["Title"] = "About us";
}

<div class="col-md-5">
    <div class="about">
        <h3>OUR STORY</h3>
        <p>Started in 1941 as a family-run workshop in Auckland City, we were pioneers in the leather goods and accessories space, establishing ourselves as the original American house of leather during the second half of the 20th Century.</p>
        <p>We went on to define “accessible luxury” for a generation. Beginning in New Zealand, Quality Bags delivered an alternative to traditional luxury. </p>
        
        <p>Now, we’re building on our brand strengths with a vision:</p>
        <h2>“To become the company that defines global modern luxury.”</h2>
        <p>At Quality Bags, we believe an inspirational and modern work environment is where exceptional talent thrives.</p>
        <p>
            We nurture a culture infused with creativity, innovation, entrepreneurship, learning and achievement to allow our people to always bring their best.
            We are inspired, talented, and diverse individuals who work collaboratively to drive the continued success of our brand.
        </p>
        <p>And, we know the culture is truly a reflection of our people—both who we are and who we strive to be, simply defined by our Values.</p>
    </div>
</div>
<div class="col-md-7">
    <img class="img-responsive" src="~/images/ourhistory.jpg" alt="history" />
</div>





