@{
    ViewData["Title"] = "Contact Us";
}


<h2 class="put_center">@ViewData["Title"]</h2>

<div class="contact">
    <img src="~/images/ContactBg.jpg" alt="" class="img-responsive"/>
    
    <h2>
        <strong>Address:</strong><br />
        Building 183<br /> 139 Carrington Road<br />Mt Albert, Auckland<br /> New Zealand

        <br />
        <br />
        <strong>Phone:</strong><br />
        (09)-123 4567
        <br />
        <br />
        <strong>Email:</strong><br />
        support@quanlitybags.co.nz
    </h2>

</div>



